:root{

}

.container{
    margin: 1% 1%;
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container .child{
    margin: auto;
    padding: 1% ;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.3s;
}

.container .child:hover{
    background-color: #F2A65A;
    cursor: pointer;
}

.signIn{
    background-color: #F2A65A ;
}
.signIn:hover{
    background-color: white;
    color: black;
}